#background {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url("../assets/images/background_image.jpg");
  background-size: cover;
  height: 75vh;
}
